[defaults]
inventory = inventory/hosts.yml
roles_path = roles
library = roles/gekmihesg.openwrt/library
remote_tmp = /tmp
host_key_checking = false
retry_files_enabled = false
stdout_callback = yaml
vault_password_file = .vault_pass

[ssh_connection]
scp_if_ssh = True
pipelining = True
